/* ----------------------------------------------------CODIGO EN COMUN----------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(24, 28, 48);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    margin: 0 3rem;
}

#asvg{
    width: 15rem;
    height: 6rem;
    box-shadow: none;
    display: block;
    transform: none;
}

ul, li{
    display: flex;
}

.adenav{
    height: 2.5rem;
    width: 6rem;
    color: black;
    background-color: rgb(230, 221, 196);
    font-weight: 200;
    box-shadow: 0.1rem 0.2rem 0 rgb(103, 137, 131);
}

header{
    height: 92vh;   
    display: flex;
    background-image: url(./assets/imagenes/codigo.jpg);
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.imgra{
    animation-name: bajar;
    animation-duration: 3s;
}

.imchi{
    animation-name: bajar;
    animation-duration: 3s;
    animation-delay: 0.1s;
}

@keyframes bajar {
    0%{
        transform: translateY(-6rem);
        background-color: rgb(24, 28, 48);
    }
    100%{
        transform: translateY(0);
    }
}

h1{
    color: #eeeeee;
    font-size: 3.5rem;
    text-shadow: 0.2rem 0.2rem 0 grey, 0.4rem 0.4rem 0 black;
}

h3{
    font-size: 2.5rem;
    color: rgb(103, 137, 131);  
    text-align: center;
}

/* 
//-------------------------------------
//----------PAGINA 1-------------------
//------------------------------------- */



.pagina1{
    display: flex;
    flex-direction: column;
}

.enlases{
    display: flex;
    height: 130vh;
    justify-content: space-around;
    align-items: center;
    margin: 5rem 0;
}

.caja{
    display: flex;
    width: 30vw;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 221, 196);
    justify-content: space-between;
    border: 0.4rem solid rgb(103, 137, 131);
    box-sizing: content-box;
    text-align: center;
}

img{
    width: 30vw;
}

a{
    display: flex;
    margin: 2rem;
    height: 2rem;
    width: 40%;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 28, 48);
    color: #eeeeee;
    text-decoration: none;
    box-shadow: 0.1rem 0.2rem 0 rgb(103, 137, 131);
}

a:active{
    transform: translateY(0.2rem);
    box-shadow: 0 0 0 transparent;
}


/*  --------------------------------
    --------------------------------
        ACA EMPIEZA EL FOOTER
    --------------------------------
    --------------------------------
*/

footer{
    display: flex;
    height: 30vh;
    background-color: rgb(103, 137, 131);
    width: 100%;
}

.f1{
    display: flex;
    width: 50%;
    align-items: center;
}

.fi{
    width: 7rem;
    height: 4rem;
    margin: 4rem;
}

h4{
    font-size: 1rem;
    text-align: center;
}

.f2{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: end;
    margin-right: 2rem;
}

/*  -----------------------------------
    -----------------------------------
        ACA EMPIEZA HOJA 2
    -----------------------------------
    -----------------------------------
*/

.pagina2{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 7rem;
    margin: 5rem auto;
}

.p2d1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    color: rgb(230, 221, 196);
    width: 100%;
}

.h31{
    grid-column: 1/3;
}
 
.p1{
    grid-column: 3/3;
    text-align: start;
}

.p2d2{
    display: flex;
    color: rgb(230, 221, 196);
    align-items: center;
    gap: 1rem;
}

.p2{
    width: 50%;
}

.h32{
    width: 50%;
}

h33{
    width: 30%;
    margin-right: 1rem;
}

.p2s2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video{
    width: 70vw;
}

.repro{
    width: 70vw;
    height: 7vh;
    display: flex;
    background-color: white;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
}

.botrep{
    display: flex;
    background-color: rgb(103, 137, 131);
    width: 7vw;
    height: 6vh;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: 0.1rem 0.1rem 0rem black ;
}

.botrep:active{
    transform: translateY(0.1rem);
    box-shadow: 0 0 0 transparent;
}

.isvg{
    width: 5vw;
    height: 3vh;
}

#tiempo{
    width: 10%;
    height: 6vh;
    display: flex;
    align-items: center;
}

.grande{
    width: 100vw;
    height: 100vh;
}

.expandir{
    width: 80.1vw;
}


/*-------------------------------------------------------ACA EMPIEZA HOJA 3------------------------------------------*/
.pagina3{
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
    justify-content: center;
    align-items: center;
}

.p3s1, .p3s2{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 3rem;
    width: 70%;
}

.p3s1{
    gap: 0.2rem;
}

.divdes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 80vh;
    background-color: rgb(128,128,128);
    color: rgb(230, 221, 196);
}

.divdes:hover{
    background-color: #1d1d1d;
}

.boton{
    width: 15rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: rgb(230, 221, 196);
    box-shadow: 0.1rem 0.2rem 0 rgb(103, 137, 131);
    flex: 100%;
}

.desaparece{
    display: none;
}

